<div class='well'>
  <ul class="nav nav-pills nav-stacked">
    <li><strong>Study Results</strong></li>
    <li><%= link_to '<i class="fa fa-exclamation-circle"></i> About'.html_safe, projects_path %></li>
    <li><%= link_to '<i class="fa fa-list"></i> List of Projects'.html_safe, projects_path %></li>
    <li><%= link_to '<i class="fa fa-arrow-down"></i> Download CSV'.html_safe, projects_path({format: 'csv'}) %></li>
  </ul>
  <hr>
  <ul class="nav nav-pills nav-stacked">
    <li><strong>Related Links</strong></li>
    <li><%= link_to '<i class="fa fa-home"></i> Project\'s Page'.html_safe, 'http://study.gorgeouscode.com/', target: '_blank' %></li>
    <li><%= link_to '<i class="fa fa-thumbs-up"></i> Rails Best Practices'.html_safe, "http://rails-bestpractices.com/", target: '_blank' %></li>
    <li><%= link_to '<i class="fa fa-eye"></i> GitHub'.html_safe, "http://www.github.com/", target: '_blank' %></li>
    <li><%= link_to '<i class="fa fa-star"></i> Gorgeous Code'.html_safe, "http://www.gorgeouscode.com/", target: '_blank' %></li>
    <li><%= link_to '<i class="fa fa-user"></i> Miguel Regedor'.html_safe, "http://www.regedor.com/", target: '_blank' %></li>
  </ul>

</div>
